<!DOCTYPE >
<html>
<title>hello node.js</title>
<%include common/head.ejs %>
</head>
<body >
<%include common/nav.ejs %>
<div class="main">
    <div>
        <a class="btn btn-success" href="/register">register</a>
    <a class="btn btn-success" href="/login">login</a>
    </div>
    
    <br/>

    <div class="alert alert-info">首页</div>
    
</div>
</body>
</html>