<!DOCTYPE >
<html>
<title>login</title>
<%include common/head.ejs %>
</head>
<body >
<%include common/nav.ejs %>

<div class="main">
    <div class="alert alert-info">用户中心</div>
    <p><%= user.username %></p>
    <p><%= user.email %></p>
    <p><%= user.register_time %></p>
</div>

</body>
</html>